# RPC & Infrastructure
RPC_URL_HTTP=https://api.mainnet-beta.solana.com
RPC_URL_WS=wss://api.mainnet-beta.solana.com

# Bot Control
EXECUTION_MODE=PAPER # Opções: PAPER, SIMULATED, LIVE
TELEGRAM_BOT_TOKEN=